@viewport {
   width: device-width; 
   zoom: 1; 
}

img, video, canvas {
  max-width: 90%;
}

body {
	background-color: rgb(163, 194, 194);
	//background: black url("couverture.JPG") no-repeat fixed 50% 0%;
	//background-size: cover;
	margin: 20px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

.menuNav{

	display: inline-block;
  margin-left:5%;
  min-width: 420px;
}

.menuNav li{
	background-color: #f0f0f0;
	border-right: 1px solid rgba(9, 9, 9, 0.2);
	position:relative;
	float: left;
	list-style: none; 
  text-align : center;
}

.menuNav li a{
	color: #5d5d5d;
	display: inline-block;
	font: 20px/1 Lobster,Arial,sans-serif;
	padding: 12px 35px 14px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
	z-index:2;
	text-decoration:none ;

}


section {
	padding: 30px;
 text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #555 inset;
	background-color: white;
	//border: 1px solid black;
}
h1 {
	font-family: Georgia, "DejaVu Serif", Norasi,"Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
}

.alinea {
	text-indent: 2em;
	text-align: justify;
}

#cadre_photos{
	display: inline-block;
	padding: 3px;
	margin: 3px;
	border-radius: 10px;
	border: 3px rgba(204, 102, 255, 0.5) double;
	text-align: center;
	background-image: linear-gradient(0deg,rgb(210, 200,200), rgb(254, 77, 95));
}



footer:not(.footer_article){
	width: 100%;				
	height: 100px;
	bottom: 0px;
  list-style : none;
  text-align: center;
}


*.infooter, *.imgliens {
	display: inline-block;	
	color: black;
	width: 15%;
	vertical-align: top;
	padding: 3px;
	margin-left: 5px;
	text-align: center;
}

*.infooter img{
	height: 50%;
  list-style : none;
}

#liens{
	text-align: right;
}

*.infooter ul, *.imgliens ul{
	list-style : none;
}

*.infooter li{
	list-style : none;
	margin-top: 15px;
	margin-bottom: 5px;
}

*.infooter ul a{
color: Black;
}

@media all and (max-width: 600px) {


}

@media all and (min-width: 601px) {
	#container{
		display:flex;
	}
	#menu {
		width: 200px;
		//border: 1px solid black;
	}
	#menu ul {
		margin-right: 20px;
	}
	section {
		flex: 1;
	}
}

@media all and (max-width: 1060px) {
	.groupe_bloc {
		display: block;
	}
}

	/*#menu {
		max-width: 200px;
		width: 27.5%; // 220/800 en pourcentage/
		display: inline-block;
		margin: 2.3%; // 80/800 de même/
		border: 1px solid black;
	}

	section {
		vertical-align: top;
		width: 62.5%; // 20/800 
		display: inline-block;
		margin: 2.2%; //  20/800
		border: 1px solid black;
	}*/



.product_list {
        margin: 0 -23px -23px 0;
    }

    .product_list li {
        width: 300px;
        margin: 0 23px 23px 0;
        padding: 8px;
        background-color: #fff;
        border: 1px solid #e1e1df;
        text-align: center;
    }

    .product_list a {
        display: block;
    }

    .product_list a:hover {
        opacity: 1;
    }

    .product_list .image_container {
        overflow: hidden;
    }

    .product_list .image_container img {
        max-width: 300px;
        vertical-align: middle;

        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }

    .product_list .image_container:hover img {
        opacity: 0.9;
    }

    .product_list h2,
    .product_list h3 {
        margin: 20px 0 12px;
        font-size: 14px;
        line-height: 20px;
        color: #5b5b5b;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .product_list h2:hover,
    .product_list h3:hover {
        color: #885661;
    }

    .product_list .price {
        line-height: 14px;
        color: #afafaf;
    }

    .product_list .currency {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .product_list .out_of_stock {
        font-size: 12px;
        line-height: 14px;
        font-style: italic;
        letter-spacing: 1px;
        color: #ff7188;
    }


    #related_products h2 {
        margin: 0 0 35px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ededed;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
    
    }
    .column {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        line-height: 1;
    }
    
  
      